@tailwind base;
@tailwind components;
@tailwind utilities;


 /* width */
 ::-webkit-scrollbar {
    width: 6px;
    max-height: 0;
  }

  /* Track */
  ::-webkit-scrollbar-track:hover {
    box-shadow: inset 0 0 5px grey;
    border-radius: 9px;
    transition: 2ms, all, ease;
  }

  ::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #d415fa80;
  }